@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100&display=swap');

/* Geral */

* { 
    outline: none !important;
    scroll-behavior: smooth;
}

.bg-preto {
    background-color: #000;
}

body {
    font-family: 'Roboto';
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/* Barra de navegação */

/* header, .navbar {
    background-color: rgb(0, 0, 0);
} */

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 50px;
}

.navbar-brand {
    padding: 0;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover {
    color: rgb(255, 255, 255);
}

#navbar-links a {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
    font-family: "Poppins";
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100vh;
}

#mainSlider .carousel-caption {
    top: 20%;
    display: block !important;
}

#mainSlider .carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: 900;
}

#mainSlider .carousel-caption p {
    font-size: 20px;
    margin: auto;
    width: 60%;
    line-height: 1.6;
    font-weight: 300;
    color: #FFF;
}

.carousel-caption a{
    background-color: #a52a2a;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: .5s;
    border: none;
}

.carousel-caption a:hover {
    color: black;
    background: white;
}

.main-btn:focus {
    outline: 0;
}

.carousel-indicators .active {
    background-color: #ff0000;
}

/* Sobre o CT */

#sobre-area {
    background-color: #FFF;
}

.main-title {
    color: rgb(41, 41, 41);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    font-size: bold;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42%;
}

/* #sobre-area img {
    margin-top: ;
} */

.sobre-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}


#sobre-list {
    list-style: none;
    padding-left: 0;
}

#sobre-list li {
    line-height: 30px;
}

#sobre-list i {
    color: #a52a2a;
    margin-right: 10px;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    font-family: "Poppins";
    margin-top: 20px;
}

/* Estrelas do Flamengo */

.card-body {
    text-align: center;
}

/* Jogos Historicos */

.main-btn {
    background-color: #a52a2a;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 10px 30px;
    width: 150px;
    border-radius: 50px;
    border: 3px solid transparent;
    transition: .5s;
    border: none;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#jogos-area .filter-btn {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(41, 0, 0);
    text-transform: none;
    margin: 0  15px;
    min-width: 100px;
    background-color: transparent;
    height: 50px;
}

#jogos-area .filter-btn:hover {
    color: #FFF;
    text-transform: none;
    background-color: #a52a2a;
    border-color: #a52a2a;
}

#jogos-area .filter-btn.active {
    color: #FFF;
    background-color: #a52a2a;
    border-color: #a52a2a; 
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

/* Rodapé */

#contact-area {
    text-align: center;
}

.contact-box i {
    color: #a52a2a;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #a52a2a;
}

/* Copy */

#copy-area {
    background-color: #000;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
    color: #FFF;
}

/* Responsivo */
@media screen and (max-width: 1440px) {
    #mainSlider .carousel-caption {
        top: 10%;
    }
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
    }
    #mainSlider .carousel-caption h5 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1170px) {

    /* Geral */

    .container {    
        padding: 20px 0;
    }

    /* Carrosel */

    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }

    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* CT do Flamengo */

    #sobre-area img {
        margin-top: 70px;
    }

    /* Estatisticas */

    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size: 20px;
    }

    /* Estrelas */

    .card-title {
        font-size: 15px;
    }

    .card-text {
        font-size: 11px;
    }

    #jogos-area .filter-btn {
        margin: 0 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1060px) {
    #mainSlider .carousel-caption h5 {
        font-size: 50px;
    }
}

@media screen and (max-width: 990px) {
    #mainSlider .carousel-caption p {
        font-size: 16px;
    }
    .carousel-caption a {
        margin-top: 0;
    }
    #mainSlider .carousel-caption p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 990px) {
    header, .navbar {
        background-color: #000;
    }
        .content-details h3 {
            font-size: 1.15rem;
        }
}

@media screen and (max-width: 881px) {
    #mainSlider .carousel-caption h5 {
        font-size: 40px;  
    }
}

@media screen and (max-width: 767px) {

    #mainSlider .carousel-caption h5 {
        font-size: 30px;
    }
    #mainSlider .carousel-caption p {
        font-size: 12px;
        font-weight: 150;
        margin-top: 0;
    }

    /* Sobre o CT */

    .sobre-title {
        margin-top: 15px;
    }

    #sobre-area img {
        margin-top: 1px;
    }

    .main-title {
        margin-top: 15px;
    }

    /* Estrelas do Flamengo */

    /* .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 20px;
    } */
    #data-area p {
        font-size: 15px;
    }
    .circle-box {
        width: 50%;
    }
    #team-area .col-md-3 {
        width: 50%;
    }

}

@media screen and (max-width: 620px) {
    #mainSlider .carousel-caption {
        top: 10%;
    }
    #mainSlider .carousel-caption .p-text {
        display: none;
    }
    #mainSlider .carousel-caption h5 {
        font-size: 20px;
    }
    .carousel-caption a {
        margin-top: 20px;
    }
    .w-100 {
        margin-top: 70px;
    }
    #sobre-area img {
        margin-top: -30px;
    }
}
@media screen and (max-width: 742px) {
    .content-details h3 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 490px) {
    #mainSlider .carousel-caption p {
        font-size: 10px;
    }
}

@media screen and (max-width: 460px) {
    .carousel-caption a {
        margin-top: 10px;
    }
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: 260px;
    }
    .carousel-caption a {
        margin-top: 5px;
        padding: 7px 20px;
    }
    #mainSlider .carousel-caption {
        top: 10%;
    }
}

@media screen and (max-width: 380px) {
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: 230px;
    }
    #mainSlider .carousel-caption {
        top: 5%;
    }
    #mainSlider .carousel-caption h5 {
        font-size: 16px;
    }
    .card-title {
        font-size: 12px;
    }
    .card-text {
        font-size: 10px;
    }
}


/* Animações */

